@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
body{
  font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
}

a{
  text-decoration: none;
}

.spot{
  border-radius: 50%;
  max-height: 50px;
  max-width: 50px;
 border: 1px solid #ff0000;
 color: #000;
}
.spot:hover{
background-color: #ff0000;
border: 1px solid #000;
}
